
@font-face {
    font-family: font1 ;
    font-style: normal;
    src: url('/static/fonts/INSPECTIONXPERTGDTNOFRAMES.ttf') format('truetype');
}

@font-face {
    font-family: font2 ;
    font-style: normal;
    src: url('/static/fonts/Righteous-Regular.ttf') format('truetype');
}

@font-face {
    font-family: font3 ;
    font-style: normal;
    src: url('/static/fonts/Raleway-Thin.ttf') format('truetype');
}

@font-face {
    font-family: font4 ;
    font-style: normal;
    src: url('/static/fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: font5 ;
    font-style: normal;
    src: url('/static/fonts/Raleway-Medium.ttf') format('truetype');
}

html, body {
    overflow-x: hidden;
}

body{
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/static/img/bg.jpg");
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-txts-container{
    position: fixed;
    left: 0;
    bottom: 1%;
    transform: translateY(0);
    width: 100%;
    text-align: center;
    animation: first-txt-container 6s ease;
}

.first-txt-1 {
    font-size: 2.5em;
    /* font-size: 43px; */
    margin-bottom: 10px;
    opacity: 0;
    font-family: font5;
    animation: first-txt-1 6s linear;
}

.first-txt-2{
    font-size: 2em;
    /* font-size: 28px; */
    font-family: font1;
}

.first-txt-2 > span{
    transition: 0.3s;
    padding: 0 10px;
    letter-spacing: 3.5px;
}

.first-txt-2 > span:nth-child(1){
    animation: first-txt-2-1 6s linear;
}
.first-txt-2 > span:nth-child(2){
    animation: first-txt-2-2 6s linear;
}
.first-txt-2 > span:nth-child(3){
    animation: first-txt-2-3 6s linear;
}
.first-txt-2 > span:nth-child(4){
    animation: first-txt-2-4 6s linear;
}


.descriptions {
    font-family: 'IranSans';
    /* padding: 15% 10% 11.8% 10%; */
    padding-top: 20%;
    text-align: center;
    font-size: 1.4em;
    /* font-size: 25px; */
    font-family: font4;
    animation: descriptions 6s ease;
    height: 100%;
}
.descriptions p {
    font-family: 'IranSans';
    direction: rtl;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .descriptions{
        padding-top: 15%;
    }
}

@keyframes descriptions {
    0%   {
        opacity: 0;
        transform: translateY(-70px);
    }
    60%  {
        opacity: 0;
        transform: translateY(-70px);
    }
    75%  {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes first-txt-container {
    0%   {
        bottom: 50%;
        transform: translateY(50%);
    }
    60%  {
        bottom: 50%;
        transform: translateY(50%);
    }
    75%  {
        bottom: 1%;
        transform: translateY(0);
    }
}

@keyframes first-txt-1 {
    0%   {
        opacity: 1;
    }
    60%  {
        opacity: 1;
    }
    63%  {
        opacity: 0;
    }
}

@keyframes first-txt-2-1 {
    0%   {
        opacity: 0;
    }
    5%  {
        opacity: 0;
    }
    15%  {
        opacity: 1;
    }
}

@keyframes first-txt-2-2 {
    0%   {
        opacity: 0;
    }
    20%  {
        opacity: 0;
    }
    30%  {
        opacity: 1;
    }
}

@keyframes first-txt-2-3 {
    0%   {
        opacity: 0;
    }
    35%  {
        opacity: 0;
    }
    45%  {
        opacity: 1;
    }
}

@keyframes first-txt-2-4 {
    0%   {
        opacity: 0;
    }
    50%  {
        opacity: 0;
    }
    60%  {
        opacity: 1;
    }
}


footer {
    /* position: absolute; */
    /* bottom: 0px; */
    /* width: 100%; */
}

.deslines {
    line-height: 2em;
}
