{% extends "base.html" %}

{% load static i18n %}


{% block title %}
    {{ block.super }} | Home
{% endblock title %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock css %}

{% block javascript %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock javascript %}

{% block main_content %}

    <!-- Top Parallax -->
    <div>

        <div class="view parallax" id="intro">

            <div class="mask rgba-blue-slight">
                <div class="container flex-center text-center fontBold">
                    <div>
                        <!--
                        <div class="col-md-12 wow fadeIn mb-3">
                            <h1 class="display-3 mb-2 wow fadeInDown" data-wow-delay="0.3s">NATALIE <a class="indigo-text font-weight-bold">SMITH</a></h1>
                            <h5 class="text-uppercase mb-3 mt-1 font-weight-bold wow fadeIn" data-wow-delay="0.4s">Web developer & graphic designer</h5>
                            <a class="btn btn-light-blue btn-lg wow fadeIn" data-wow-delay="0.4s">portfolio</a> <a class="btn btn-indigo btn-lg wow fadeIn" data-wow-delay="0.4s">About me</a>
                        </div>
                        -->
                        <div class="introContent">
                            <h1 id="shakh">
                                WE ARE THE NEW STANDARD
                            </h1>
                            <br />
                            <h1>
                                {% blocktrans %}
                                    نخستین مجله تخصصی آنلاین هتل گردی
                                {% endblocktrans %}
                            </h1>
                            <br />
                            <br />

                        <div>
                            <a class="btn-floating"  href="#demo" id="BtnTo">
                                <img src="{% static '/img/down-arrow.png' %}" width="50" />
                            </a>

                        </div>

                    </div>

                    </div>

                </div>

            </div>

    </div>

    <!--Main layout-->
    <main class="mb-5">
        <div>
            <!-- Main info -->

            <div class="container" id="about">

                <!-- Hotel List -->
                <div class="features-small mt-4 wow fadeIn">

                    {% comment %} <div class="card-deck"> {% endcomment %}
                    <div class="row">

                    {% for hotel in Hotels %}

                        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                            <div class="card col-12">
                                <!-- Image -->
                                <div class="imgWrapper card-img-top">
                                    <img class="card-img-top cardImage" src="{{ MEDIA_URL }}{{ hotel.image }}" alt="{{ hotel.name }}">
                                    <div class="centered">
                                        <p class="imgText">{{ hotel.country }} - {{ hotel.city }}</p>
                                    </div>
                                </div>

                                <!-- Body -->
                                <div class="card-body">
                                    <h5 class="card-title alignMid">
                                      <a href="{{ hotel.get_absolute_url }}">{{ hotel.name }}</a>
                                    </h5>

                                    <p class="card-text">{{ hotel.summary }}</p>
                                    {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                                </div>

                            </div>
                        </div>

                    {% endfor %}


                    </div>

                </div>

            </div>

        </div>
    </main>

    <!--Bottom parallax -->
    {% include "search.html" %}

{% endblock main_content %}
