    {% load static i18n %}
    
    
    
    <!-- parallax -->
    <div class="parallax" id="searchSection">
        <div class="container">

            <div>
                <div>
                    <form class="centeralize" method="GET">
                        <div class="form-row">
                            {% comment %} <div>
                                <h3 class="introContent">
                                    {% blocktrans %}
                                        کجا&nbsp;؟
                                    {% endblocktrans %}
                                </h3>
                            </div> {% endcomment %}
                            
                            <div class="col md-form">
                                <input type="text" id="counry" name="counry" class="form-control">
                                <label for="counry">{% trans 'Country' %}</label>
                            </div>
                            <div class="col md-form">
                                <input type="text" id="city" name="city" class="form-control">
                                <label for="city">{% trans 'City' %}</label>
                            </div>
                            {% comment %} <div>
                                <h3 class="introContent">{% trans 'یا' %}</h3>
                            </div> {% endcomment %}
                            <div class="col md-form">
                                <input type="text" id="hotel" name="hotel" class="form-control">
                                <label for="hotel">{% trans 'Hotel' %}</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">جستجو</button>
                    </form>
                </div>
                <br />
                <div class="row centeralize">
                    <div class="col introIconStyle"><img src="{% static 'img/train.png' %}" height="100" /></div>
                    <div class="col introIconStyle"><img src="{% static 'img/plane.png' %}" height="100" /></div>
                    <div class="col introIconStyle"><img src="{% static 'img/boat.png' %}" height="100" /></div>
                </div>
            </div>

        </div>
    </div>


